/****************************** start content  **********************************/
.content{
    direction: rtl;
    .row{
        &:last-of-type{
            margin-bottom: 50px;
        }
    }
}
.main_title{
    text-align: center;
    position: relative;
    width:200px;
    margin:20px auto ;
    h2{
       color:#333;
       font-weight: bold !important;
       font-size: 38px;
    }
    .sp_one{
       display: block;
       width:160px;
       background:none;//underline
       height:2px;
       position: absolute;
       right:22px;
       top:40px;
    } 
}

.litle_title{
    font-family: 'Cairo', sans-serif;
    text-align: right;
    margin:60px 0 35px 0;
    position: relative;
    h2{
       color:#333;
       font-weight: bold !important;
       font-size: 33px;
    }
    .sp_one{
       display: block;
       width:50px;
       background:#ff8812;
       height:2px;
       display: flex;
       position: absolute;
       right:0;
       top:40px;
    }
    .sp_two{
       display: block;
       width:90px;
       background:#ff8812;
       height:2px;
       display: flex;
       position: absolute;
       right:0;
       top:46px;
    }
 }

 
.content{
    font-family: 'Cairo', sans-serif;
    background: #F1F1F1;
    position: relative;
 
    padding-top:15px;
    .row{
        .item{
            width:100%;
            box-shadow: 2px 2px 17px 2px #5555559c;
            border-radius: 5px;
            margin:10px 0;
            background:#fff;
            position: relative;
            text-align: right;
            overflow: hidden;
            cursor: pointer;
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
            .cont_img{
                width:100%;
                height: 200px;
                position: relative;
                overflow: hidden;
                img{
                    width:100%;
                    height: 100%;
                    transition: all .3s ease-in-out;
                }
                .overlay{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    top:0;
                    left:0;
                    z-index:55;
                    background:rgba(0,0,0,.4);
                }
            }
            .middel{
                display: flex;
                justify-content: space-between;
                padding:20px 10px;
                position: relative;
                input{
                    border:none;
                    background:#fff;
                    cursor: pointer;
                }
    
            }
            .term{//عشان يخفي المواد
                position: absolute;
                top: -50px;
                opacity: 0;
            }    

            .drop{
                position: absolute;
                left: 10px;
                bottom: 50px;
                color: #000;
                background: #e4d8d8;
                border-radius: 5px;
                .pin{
                    position: absolute;          
                    left: 0;
                    bottom: 10px;
                    font-size: 30px;
                    color:#339AF0;
                }
                .btn-group{
                    text-align: right !important;
                    background:none !important;
                    button{
                        padding:0 !important;
                        opacity: 0;
                        width:27px;
                        bottom:10px !important;
                        position: absolute;
                    } 
                    .dropdown-menu{
                        top:-50px !important;
                        left:30px !important;
                        width:120px !important;
                        padding:5px !important;
                        border:1px solid #339AF0 ;
                        a{
                            position: relative;
                            text-align: right !important;
                            padding-right: 0 !important;
                            i{
                                position: absolute;
                                left:10px;
                                color:#00f;
                            }
                            &:last-child{
                                i{
                                    color:red;
                                }
                            }
                        }
                    }
                }
            }
            .techer{
                color:#000;
                position: absolute;
                top:10px;
                right:15px;
                z-index: 56;
                padding:3px 12px;
                background:#b7b7b7d1;
                border-radius: 10px;
                font-weight: bold;
                font-size: 16px;
            }
            .material{
                color:#222;
               
                padding: 10px 5px;
            }
            .description{
                display: flex;
                justify-content: space-between;
                cursor: auto;
                padding:7px 7px 15px 7px;
                .view{
                    i{
                        color:#339AF0;
                    }
                }
                .star{
                    i{
                        color:#F7CA18;
                        margin:0 2px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

/*****************************  end content **********************************/
