/********************************************************start header *************************/
.title {
  font-family: 'Cairo', sans-serif;
  margin-top: 60px;
  text-align: right;
  padding: 7px 30px;
  background: #f1f1f100;
}

.title h1 {
  font-size: 20px;
}

.title h1 span {
  font-size: 16px;
  color: #007BFF;
}

header {
  font-family: 'Cairo', sans-serif;
  height: 60vh;
  background-size: cover;
  position: relative;
}

@media (max-width: 991px) {
  header {
    height: 85vh;
  }
}

header .slider .slide {
  position: relative;
  z-index: 22;
  top: 138px;
  width: 100%;
  background: #f4f4f4;
  border-radius: 10px;
}

@media (max-width: 991px) {
  header .slider .slide {
    top: 300px;
  }
}

@media (max-width: 400px) {
  header .slider .slide {
    height: 185px;
  }
}

header .slider .slide .carousel-indicators {
  position: absolute;
  bottom: 0;
}

header .slider .slide .carousel-indicators li {
  background: #222 !important;
  border-radius: 50%;
  border-color: #f4f4f4;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

header .slider .slide .carousel-inner .carousel-item .item {
  text-align: center;
  padding: 20px 15px 0 15px;
}

header .slider .slide .carousel-inner .carousel-item .item p {
  font-size: 20px;
  color: #111 !important;
  line-height: 1.5;
}

header .slider .slide .carousel-inner .carousel-item .item a {
  text-decoration: none;
  display: block;
  text-align: left;
  margin-bottom: 50px;
}

header .main_info {
  text-align: right;
  padding-top: 140px;
  position: relative;
  z-index: 999;
}

@media (max-width: 991px) {
  header .main_info {
    padding: 0 15px;
  }
}

@media (max-width: 400px) {
  header .main_info {
    margin-top: -40px;
  }
}

header .main_info h1 {
  font-weight: bold;
  font-size: 40px;
  color: #f1f1f1;
}

header .main_info p {
  padding-right: 30px;
  font-size: 22px;
  color: #f80;
  font-weight: bold;
}

@media (max-width: 400px) {
  header .main_info p {
    font-size: 17px !important;
  }
}

header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

/********************************************* end header *****************/
/****************************** start content  **********************************/
.content {
  direction: rtl;
}

.content .row:last-of-type {
  margin-bottom: 50px;
}

.main_title {
  text-align: center;
  position: relative;
  width: 200px;
  margin: 20px auto;
}

.main_title h2 {
  color: #333;
  font-weight: bold !important;
  font-size: 38px;
}

.main_title .sp_one {
  display: block;
  width: 160px;
  background: none;
  height: 2px;
  position: absolute;
  right: 22px;
  top: 40px;
}

.litle_title {
  font-family: 'Cairo', sans-serif;
  text-align: right;
  margin: 60px 0 35px 0;
  position: relative;
}

.litle_title h2 {
  color: #333;
  font-weight: bold !important;
  font-size: 33px;
}

.litle_title .sp_one {
  display: block;
  width: 50px;
  background: #ff8812;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 40px;
}

.litle_title .sp_two {
  display: block;
  width: 90px;
  background: #ff8812;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 46px;
}

.content {
  font-family: 'Cairo', sans-serif;
  background: #F1F1F1;
  position: relative;
  padding-top: 15px;
}

.content .row .item {
  width: 100%;
  -webkit-box-shadow: 2px 2px 17px 2px #5555559c;
          box-shadow: 2px 2px 17px 2px #5555559c;
  border-radius: 5px;
  margin: 10px 0;
  background: #fff;
  position: relative;
  text-align: right;
  overflow: hidden;
  cursor: pointer;
}

.content .row .item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .row .item .cont_img {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.content .row .item .cont_img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.content .row .item .cont_img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 55;
  background: rgba(0, 0, 0, 0.4);
}

.content .row .item .middel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  position: relative;
}

.content .row .item .middel input {
  border: none;
  background: #fff;
  cursor: pointer;
}

.content .row .item .term {
  position: absolute;
  top: -50px;
  opacity: 0;
}

.content .row .item .drop {
  position: absolute;
  left: 10px;
  bottom: 50px;
  color: #000;
  background: #e4d8d8;
  border-radius: 5px;
}

.content .row .item .drop .pin {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 30px;
  color: #339AF0;
}

.content .row .item .drop .btn-group {
  text-align: right !important;
  background: none !important;
}

.content .row .item .drop .btn-group button {
  padding: 0 !important;
  opacity: 0;
  width: 27px;
  bottom: 10px !important;
  position: absolute;
}

.content .row .item .drop .btn-group .dropdown-menu {
  top: -50px !important;
  left: 30px !important;
  width: 120px !important;
  padding: 5px !important;
  border: 1px solid #339AF0;
}

.content .row .item .drop .btn-group .dropdown-menu a {
  position: relative;
  text-align: right !important;
  padding-right: 0 !important;
}

.content .row .item .drop .btn-group .dropdown-menu a i {
  position: absolute;
  left: 10px;
  color: #00f;
}

.content .row .item .drop .btn-group .dropdown-menu a:last-child i {
  color: red;
}

.content .row .item .techer {
  color: #000;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 56;
  padding: 3px 12px;
  background: #b7b7b7d1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}

.content .row .item .material {
  color: #222;
  padding: 10px 5px;
}

.content .row .item .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: auto;
  padding: 7px 7px 15px 7px;
}

.content .row .item .description .view i {
  color: #339AF0;
}

.content .row .item .description .star i {
  color: #F7CA18;
  margin: 0 2px;
  font-size: 15px;
}

/*****************************  end content **********************************/
header {
  background: url("../../../../assets/imgs/main_materials/music/music_back_header.jpg");
  background-size: cover;
}
/*# sourceMappingURL=home.component.css.map */