<nav dir="rtl" class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand logo" href="#"><img src="../../../assets/imgs/nav/mansoura.png" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav list">
            <li class="nav-item">
                <a class="nav-link  main_a" href="#" data-scroll="#home">الرئيسية  </a>
            </li>
            
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle comp main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    حاسب الي
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='computer/Level-one'> الفرقة الاولي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='computer/Level-two'> الفرقة الثانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='computer/Level-three'>  الفرقة الثالثة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='computer/Level-four'> الفرقة الرابعة </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    تكنولوجيا 
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='tech/Level-one'> الفرقة الاولي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='tech/Level-two'> الفرقة الثانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='tech/Level-three'>  الفرقة الثالثة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='tech/Level-four'> الفرقة الرابعة </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   موسيقي
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='music/Level-one'> الفرقة الاولي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='music/Level-two'> الفرقة الثانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='music/Level-three'>  الفرقة الثالثة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='music/Level-four'> الفرقة الرابعة </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    فنية  
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='arts/Level-one'>    الفرقة الاولي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='arts/Level-two'>   الفرقة الثانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='arts/Level-three'>  الفرقة الثالثة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='arts/Level-four'>   الفرقة الرابعة </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    اقتصاد منزلي
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='economic/Level-one'> الفرقة الاولي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='economic/Level-two'> الفرقة الثانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='economic/Level-three'>  الفرقة الثالثة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='economic/Level-four'> الفرقة الرابعة </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    اعلام تربوي
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='media/Level-one'> الفرقة الاولي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='media/Level-two'> الفرقة الثانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='media/Level-three'>  الفرقة الثالثة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='media/Level-four'> الفرقة الرابعة </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown nav_courses" >
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    مسرح
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='stage/Level-one'> الفرقة الاولي </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='stage/Level-two'> الفرقة الثانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='stage/Level-three'>  الفرقة الثالثة </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='stage/Level-four'> الفرقة الرابعة </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link  main_a" href="#" data-scroll="#home">اسئلة </a>
            </li>
        </ul>
        <ul class='list-unstyled main_ul ul_register'>
            <li class='mygumtree nav-item dropdown '> 
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> حسابي 
                </a>
                <div class="down dropdown-menu">
                    <div>
                        <p *ngIf='!isuser'><span> مرحبا بك في متنوع</span> : انشء حساب او سجل الدخولي حتي تتمكن من</p>
                        <p *ngIf='isuser'><span> مرحبا بك في متنوع</span> :الان يمكنك </p>
                        <ul class='list-unstyled'>
                            <li> <i class="fas fa-check"></i> الوصل الي الاختبارات  </li>
                            <li> <i class="fas fa-check"></i> التواصل مع المحاضر </li>
                            <li> <i class="fas fa-check"></i> تحميل المحاضره  </li>
                        </ul>
                    </div>
                    <div class="buttons in" *ngIf='!isuser'>
                        <button class="in_button" routerLink='signup' (click)='to_top()'> انشاء حساب </button>
                        <button  routerLink='login' (click)='to_top()'> تسجيل الدخول </button>
                    </div>
                    <div class='buttons out'>
                        <button  class='out_button' (click)='out()' (click)='to_top()'> تسجيل الخروج</button>
                        <button  routerLink='admin' (click)='to_top()' *ngIf='isadmin'> admin </button>
                        <button  routerLink='get_ideas' (click)='to_top()' *ngIf='isadmin'> ideas  </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
