.active_a {
  color: #F6850E !important;
}

nav {
  font-family: 'Cairo', sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  background: #f3f3f3;
  padding: 0;
  /*******************start ui_register ********************/
}

@media (max-width: 991px) {
  nav {
    direction: ltr;
    text-align: right;
    background: #222831 !important;
    padding: 0 20px;
  }
}

nav .logo img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 991px) {
  nav .navbar-toggler {
    background: #f1f1f1;
    outline: none;
  }
}

@media (min-width: 1200px) {
  nav .navbar-nav {
    margin-right: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1235px) {
  nav .navbar-nav {
    padding-right: 0;
    padding-left: 0;
  }
}

nav .list {
  margin: 0 auto;
}

@media (max-width: 991px) {
  nav .list {
    padding: 20px 0;
  }
}

nav .list li {
  padding: 0 11px;
}

@media (min-width: 992px) and (max-width: 1100px) {
  nav .list li {
    padding: 0 2px;
  }
}

@media (min-width: 1100px) and (max-width: 1235px) {
  nav .list li {
    padding: 0 7px;
  }
}

nav .list li .main_a {
  color: #222;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 991px) {
  nav .list li .main_a {
    color: #fff !important;
  }
}

nav .list li .main_a:hover {
  color: #F6850E;
}

nav .list li .btn {
  color: #fff;
}

nav .dropdown .dropdown-menu {
  border-top: 2px solid #222831;
  overflow: hidden;
  padding: 0;
  width: 220px;
  border-radius: 5px;
}

nav .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #222;
  font-weight: bold;
}

nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background: #222831;
  padding-right: 30px;
}

nav .dropdown .dropdown-menu .dropdown-divider {
  margin: 0;
}

@media (max-width: 830px) {
  nav .ul_register {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1235px) {
  nav .ul_register {
    padding-right: 0;
    padding-left: 0;
  }
}

nav .ul_register li {
  padding: 0px 20px 0 20px;
}

@media (min-width: 992px) and (max-width: 1100px) {
  nav .ul_register li {
    padding: 0px 0 0 20px;
  }
}

nav .ul_register li a:hover {
  color: #007BFF;
}

nav .ul_register .mygumtree {
  position: relative;
  top: 8px;
}

nav .ul_register .mygumtree a {
  border: 1px solid #222831;
  padding: 7px 15px;
  border-radius: 3px;
  outline: none;
  color: #007BFF;
  font-weight: bold;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media (max-width: 991px) {
  nav .ul_register .mygumtree a {
    padding: 10px 5px;
    border: 1px solid #999;
  }
  nav .ul_register .mygumtree a:hover {
    border: 1px solid #222831;
  }
}

nav .ul_register .mygumtree a:hover {
  border: 1px solid #007BFF;
}

nav .ul_register .mygumtree a i {
  font-size: 17px;
  position: relative;
  top: 2px;
  color: #007BFF;
  margin-left: 7px;
}

nav .ul_register .mygumtree .down {
  text-align: right;
  -webkit-box-shadow: 0 0 1px 0px #13111152;
          box-shadow: 0 0 1px 0px #13111152;
  position: absolute;
  width: 300px;
  height: 230px;
  left: 19px;
  top: 38px;
  background: #fff;
  z-index: 9999;
  padding: 20px 0;
}

@media (max-width: 991px) {
  nav .ul_register .mygumtree .down {
    top: -250px !important;
    direction: rtl;
  }
}

nav .ul_register .mygumtree .down p {
  color: #444;
  padding: 0 20px;
  line-height: 1.5;
}

nav .ul_register .mygumtree .down p span {
  color: #007BFF;
  font-weight: bold;
}

nav .ul_register .mygumtree .down ul {
  padding: 0;
  margin: 0;
}

nav .ul_register .mygumtree .down ul li {
  color: #111;
  margin-top: 3px;
}

nav .ul_register .mygumtree .down ul li i {
  color: #007BFF;
  margin-left: 3px;
}

nav .ul_register .mygumtree .down .buttons {
  padding: 15px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .ul_register .mygumtree .down .buttons button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  text-transform: capitalize;
}

nav .ul_register .mygumtree .down .buttons button:first-of-type {
  background: #222831;
  border: 1px solid #222;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #fff;
}

nav .ul_register .mygumtree .down .buttons button:last-of-type {
  padding: 6px 20px;
  background: #fff;
  border: 1px solid #222;
  color: #007BFF;
  font-weight: bold;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

nav .ul_register .mygumtree .down .buttons button:last-of-type:hover {
  opacity: .8;
  background: #007BFF;
  color: #fff;
  border: 1px solid #fff;
}

nav .ul_register .mygumtree .down .in .in_button:hover {
  background: #007BFF;
  border: 1px solid #fff;
}

nav .ul_register .mygumtree .down .out .out_button:hover {
  background: #f00 !important;
  border: 1px solid #fff;
}

.show_down {
  display: block !important;
}
/*# sourceMappingURL=nav.component.css.map */